/**
 * Common Vars
 * ===========
*/

$brand-color: #B9090C;
$brand-color2: #FFBF00;



/**
 * Reset Box Model
 * ===============
*/

*,
*:before,
*:after {
	box-sizing: border-box;
}



/**
 * Main
 * ====
*/

html,
button,
input,
select,
textarea {
	font-family: helvetica, arial, sans-serif;
}

html {

	font-size: 100%;
	color: #111;

	@media (min-width: 40em) {
		font-size: 120%;
	}

}

body {
	font-size: 1em;
	line-height: 1.5;
	margin: 0;
}



/**
 * Vertical Rhythm
 * ===============
*/

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dl,menu,
p,figure,
pre,table,fieldset, hr,
blockquote,
.vr {
	margin: 0 0 2rem 0;
}



/**
 * Images
 * ======
*/

img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
	width: auto;
}



/**
 * Lists
 * =====
*/

ul,
ol {
	padding: 0;
	margin-left: 2rem;
}



/**
 * Forms
 * =====
*/

select,
input {
	padding: .6em 1em;
	border: solid 1px #777;
	border-radius: 2px;
	color: #999;
	background: #FFF;
	box-shadow: 0 1px 3px rgba(black,0.1) inset;
	transition: border 0.3s linear;
	line-height: 1.5;
	font-size: 1em;
}

input:focus,
button:focus {
	border-color: #4BB8CB;
}



/**
 * Links
 * =====
*/

a {
	color: blue;
	transition: all .2s ease-in-out;
}

a:hover {
	color: lightblue;
}



/**
 * Helpers
 * =======
*/

.screen-reader-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.cf,
%cf {

	*zoom: 1; // ie7 only

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}

}

.pad {
	padding: 2rem;
}



/**
 * Buttons
 * =======
*/

.btn {

	display: inline-block;
	background: #0085B2;
	border-radius: 3px;
	color: white;
	border: none;
	padding: .6em 1em;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;

	&:hover {
		background: lighten(#0085B2,10%);
		color: white;
	}

}



/**
 * Header
 * ======
*/

.page-hd {
	background: $brand-color;
	color: white;
	text-align: center;
	position: relative;
}

.logo {

	font-size: 1.75em;
	display: inline-block;
	margin: 2rem 2rem 1rem;

	> a {

		color: white;
		text-transform: uppercase;
		font-weight: bold;
		display: inline-block;
		text-decoration: none;
		letter-spacing: .1em;
		position: relative;
		text-shadow:
			0 1px #111,
			-1px 0 #111,
			-1px 2px #111,
			-2px 1px #111,
			-2px 3px #111,
			-3px 2px #111,
			-3px 4px #111,
			-4px 3px #111;

		&:hover {
			color: white;
		}

	}

}



/**
 * Filters
 * =======
*/

$bp1-filters: 58em;

.filters-toggle + label {

	cursor: pointer;
	display: block;
	text-align: center;
	position: relative;
	color: white;
	padding-bottom: 2rem;
	font-weight: lighter;

	&:before {
		content: '';
		width: 0;
		width: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid white;
		position: absolute;
		top: 1.75em;
		left: 50%;
		margin-left: -5px;
		opacity: .5;
	}

}

.filters-toggle:focus + label {
	color: $brand-color2;
}

.filters-toggle + label + .filters {
	overflow: hidden;
	max-height: 0;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.filters-toggle:checked + label + .filters {
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
	max-height: 1000px;
}

.filters {
	background: grey;
	color: white;
	font-size: .875em;
}

.filter-fields {
	border: none;
	margin: 0;
	padding: 0;
}

.filter-list {

	list-style: none;
	margin: 0;
	text-align: left;

	> li {

		margin-bottom: 1rem;
		@extend %cf;

		&:last-child {
			margin-bottom: 0;
		}

	}

	@media (min-width: $bp1-filters) {

		display: table;
		display: flex;
		justify-content: center;
		width: 100%;
		max-width: 62em;
		margin: 0 auto;

		> li {
			display: table-cell;
			display: flex;
			padding-left: 1rem;
			margin-bottom: 0;
		}

		.btn {
			padding: .6em 1em;
		}

	}

}

.filter-list__label,
.filter-list__input {
	float: left;
}

.filter-list__label {

	display: inline-block;
	width: 4em;
	padding: .6em 0;

	@media (min-width: $bp1-filters) {
		width: auto;
		padding-right: 1rem;
	}

}

.filter-list__input {
	width: calc(100% - 4em);
}

.filter-list__person {

	@media (min-width: $bp1-filters) {
		max-width: 20em;
	}

}

.filter-list__year {

	@media (min-width: $bp1-filters) {
		max-width: 8em;
	}

}

.styled-select {
	overflow: hidden;
	background: white url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNDUgNDUiPjxzdHlsZT4uc3Qwe2ZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6IzAwODNCODt9IC5zdDF7ZmlsbC1ydWxlOmV2ZW5vZGQ7Y2xpcC1ydWxlOmV2ZW5vZGQ7ZmlsbDojRkZGRkZGO308L3N0eWxlPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0wIDBoNDV2NDVIMHoiLz48cGF0aCBjbGFzcz0ic3QxIiBkPSJNMTggMjFoMTBsLTUgNXoiLz48L3N2Zz4=') no-repeat right 50%;
	background-size: contain;
	border: solid 1px #777;
	border-radius: 2px;
	min-height: 2.4rem;
	position: relative;
	min-width: 12em;
}

.styled-select select {
	padding: .6em 1em;
	width: 130%;
	border: none;
	box-shadow: none;
	background: transparent;
	background-image: none;
	-webkit-appearance: none;
}

.search-btn {
	padding: 1em 2em;
	width: 100%;
}



/**
 * Results
 * =======
*/

.results-wrap {

	.lazy-loaded & {
		max-width: 100%;
		text-align: center;
	}

}

.results-desc {
	padding: 1em;
	background: #EEE;
	text-align: center;
	color: #777;
	font-weight: lighter;
	margin-bottom: 1rem;
}

.results-desc__genre {
	text-transform: lowercase;
}

.results-list {

	margin-left: 0;
	list-style: none;

	> li {

		border-bottom: solid 1px #DDD;

		&:last-child {
			border: 0;
		}

	}

	.lazy-loaded & {

		margin-left: -2rem;

		> li {
			display: inline-block;
			border-bottom: 0;
			padding-left: 2rem;
			margin-bottom: 3rem;
		}

	}

}

.results-item {

	font-size: 1em;
	display: block;
	display: flex;
	align-items: center;
	padding: 1rem 0;
	text-decoration: none;
	color: #444;

	> span {

		padding-left: 1rem;

		&:first-child {
			padding-left: 0;
		}

	}

	&:hover {

		color: black;
		background: rgba($brand-color2,.15);

		> .results-item__num {
			opacity: 1;
			color: $brand-color2;
		}

	}

	@media (min-width: 40em) {
		padding: 1rem;
	}

	.lazy-loaded & {

		display: inline-block;
		position: relative;
		width: 185px;
		background: grey;

		&:before {
			padding-top: 150%;
			display: block;
			content: '';
		}

		> span {
			display: block;
			position: absolute;
		}

		> .results-item__title {
			color: white;
			padding: 1em;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		> .results-item__rating {

			bottom: -1.5em;
			left: 0;
			width: 100%;
			padding: 0;

			> .results-item__year {
				display: inline-block;
				font-weight: lighter;
				color: #999;
			}

		}

		> .results-item__num {
			top: 1em;
			left: 1em;
			width: 2em;
			height: 2em;
			line-height: 2em;
			opacity: 1;
			color: white;
			z-index: 2;
			background: black;
			font-size: .75em;
			border-radius: 50%;
		}

	}

}

.results-item__poster {

	display: none;

	.lazy-loaded & {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		background-repeat: no-repeat;
		background-size: cover;
	}

}

.results-item__num {

	font-size: 1.5em;
	font-weight: bold;
	opacity: .25;
	width: 3em;

	&:before {
		content: '#';
	}

}

.results-item__title {
	width: 100%;
}

.results-item__rating {
	font-weight: bold;
	white-space: nowrap;
	color: #111;
	font-size: 1.125em;
}

.results-item__year {
	display: none;
}

.show-images {

	text-align: center;
	margin-bottom: .25rem;

	> button {

		background: none;
		padding: .5em;
		color: $brand-color;
		border: none;
		font-size: .75em;
		cursor: pointer;

		&:focus {
			outline: none;
			text-decoration: underline;
		}

	}

	.lazy-loaded & {
		margin-bottom: .5rem;
	}

}



/**
 * Icons
 * =====
*/

.icon-star:before {
	content: '\2605';
	color: $brand-color2;
}



/**
 * Pagination
 * ==========
*/

.pagi {

	list-style: none;
	margin: 0 auto 2rem;
	background: #DDD;
	display: table;
	width: 100%;
	max-width: 30em;
	text-align: center;

	> li {

		display: table-cell;
		vertical-align: middle;

		> a {
			display: block;
			border-radius: 0;
		}

		&:nth-child(2) {
			padding: .6em 1em;
			color: #555;
			font-weight: lighter;
		}

	}

}



/**
 * Layout
 * ======
*/

.max-width {
	max-width: 50em;
	margin: 0 auto;
}



/**
 * Single
 * ======
*/

$bp1-single: 40em;

.single {
	max-width: 42em;
	margin: 0 auto;
}

.single__poster {

	width: 25%;
	max-width: 185px;
	float: left;
	margin: 0 1rem .5rem 0;
	background: #DDD;
	position: relative;

	&:after {
	  padding-top: 150%;
	  display: block;
	  content: '';
	}

	> img {
		position: absolute;
		top: 0;
		left: 0;
	}

	@media (min-width: $bp1-single) {
		margin-right: 2rem;
	}

}

.single__title {

	float: left;
	width: 70%;
	width: calc(100% - 4em);
	font-size: 1.25em;

	@media (min-width: $bp1-single) {
		font-size: 1.5em;
	}

}

.single__rating {
	float: right;
	font-size: 1.25em;
}

.single__desc {
	font-size: .875em;
}

.single__info {

	list-style: none;
	margin-left: 0;
	float: left;
	font-size: .875em;
	font-family: monospace;

	> li {

		border-bottom: solid 1px #DDD;
		margin-bottom: .25em;
		padding-bottom: .25em;

		&:last-child {
			border-bottom: 0;
		}

	}

}



/**
 * Drop Cap
 * ========
*/

.drop-cap {

	&:first-letter {
		font-weight: bold;
		float: left;
		font-size: 3em;
		line-height: 0.9;
		padding-top: 4px;
		padding-right: 8px;
	}

}



/**
 * Footer
 * ======
*/

footer {

	text-align: center;
	font-size: .75em;
	color: #777;

	> img {
		margin-bottom: .5rem;
	}

}